.new-list{
    width: 50vw;
    border-right: 1px black solid;
    
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}
.address-zip{
    width: 100%;
    background-color: rgb(201, 201, 201);
    justify-content: center;
    align-items: center;
    display: flex;
    height: 50%;
}
.stateS h1, .cityC h1{
    font-size: 1rem;
    margin-right: .5rem;
}
.new-div{
    width: 100%;
    justify-content: center;
    align-items: center;
    display: flex;
    padding: 3rem;
}
.price{
    justify-content: center;
    align-items: center;
    display: flex;
    
}
.dol-sign{
    margin-right: 3px;
    opacity: .8;
    
}
.loc{
    justify-content: center;
    align-items: center;
    display: flex;
    background-color: teal;
    padding: 1rem;
}
.loc h1{
    margin: .3rem;
    font-size: 1rem;
}
.sear{
  opacity: .8;
  letter-spacing: .2rem;
}
.locat{
  font-weight: bold;
  letter-spacing: .2rem;
}
.arrows {
    font-size: 3rem;
    z-index: 2;
    width: 70%;
    justify-content: space-around;
    align-items: center;
    display: flex;
   position: absolute; 
    font-size: 1rem;
}
.listing-box{
    width: 30vw;
    height: 40vh;
    background-color: transparent;
    border: black 2px solid;
    color: black;
    text-decoration: none;
}
.re{
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 30%;
}
.home-det{
    justify-content: center;
    align-items: center;
    display: flex;
    
    width: 100%;
    height: 50%;
}
a .prop-link{
    color: #000;
    
}
.listing-box a .prop-link{
    position: absolute;
    z-index: 1;
}
.prop-price{
    position: absolute;
    z-index: 1;
    margin-top: 6rem;
    margin-left: 2rem;
    color: white;
}
.prop-image{
    position: relative;
    width: 100%;
    height: 70%;
    background-color: teal;
}

.propert h1{
    font-size: 1rem;
}
.price h1{
    font-size: 2rem;
}
.bath, .bed, .sqf{
    justify-content: center;
    align-items: center;
    display: flex;
    
}
.bed, .sqf{
    margin-left: 1.4rem;
}
.bath h1, .bed h1, .sqf h1{
    font-size: 1rem;
    
}
.bath-title, .bed-title, .sqf-title{
    margin-left: .4rem;
}