.new-list{
    width: 50vw;
  
    
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}
.address-zip{
    width: 100%;
    background-color: rgb(201, 201, 201);
    justify-content: center;
    align-items: center;
    display: flex;
    height: 50%;
}
.stateS h1, .cityC h1, .streett h1{
    font-size: 1rem;
    margin-right: .2rem;
}
.streett {
    justify-content: center;
    align-items: center;
    display: flex;
}
.stateS{
    justify-content: center;
    align-items: center;
    display: flex;
}
/*------------------------------------------------------------------------*/
.new-div{
    width: 50vw;
    height: 60vh;
    justify-content: center;
    align-items: center;
    display: flex;
    padding: 3rem;
    overflow: hidden;
    position: relative;
}
.price{
    justify-content: center;
    align-items: center;
    display: flex;
    
}
.dol-sign{
    margin-right: 3px;
    opacity: .8;
    
}
.loc{
    justify-content: center;
    align-items: center;
    display: flex;
    background-color: rgb(126, 126, 126);
    padding: .4rem;
   
}
.locc{
    height: 2rem;
    justify-content: center;
    align-items: center;
    display: flex;
}
.loc h1{
    
    margin: .3rem;
    font-size: 1rem;
}
.sear{
  opacity: .8;
  letter-spacing: .2rem;
}
.locat{
  font-weight: bold;
  letter-spacing: .2rem;
}
/*-----------------------------------------------------*/
.arrows {
    
    z-index: 1;
    width: 100%;
    opacity: .7;
    justify-content: space-around;
    align-items: center;
    display: flex;
   position: absolute; 
    font-size: 2rem;
}

.arrows .prev i, .next i {
    font-size: 2rem;
}
.prev:hover{
    color: rgb(0, 0, 0);
    transition: .1;
    
}
.next:hover{
    color: rgb(0, 0, 0);
    transition: .2;
}
/*----------------------------------------------------------*/
.prev-appear {
    transform: translateX(-6rem);
    transition: 1s .3s;
}
.prev-hide {
    transform: translateX(-200px);
  transition: 1s .3s;
}
.next-appear {
    transform: translateX(6rem);
  transition: 1s .3s;
}
.next-hide{
    transform: translateX(200px);
    transition: 1s .3s;
}
/*-------------------------------------------------------*/
.listing-box{
    width: 50vw;
    height: 60vh;
    background-color: transparent;
    overflow: hidden;
    color: black;
    text-decoration: none;
    position: relative;
}
.re{
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 30%;
    bottom: 0;
}
/*---------------------------------------------------------*/
.home-det{
    justify-content: center;
    align-items: center;
    display: flex;
    background-color: rgb(1, 133, 133, .2);
    width: 100%;
    height: 50%;
    z-index: 2;
    color: cornsilk;
}

a .prop-link{
    color: #000;
    
}
.listing-box a .prop-link{
    position: absolute;
    z-index: 1;
}
.link{
    float: right;
}
.prop-link{
    
    padding: .5rem;
    border-radius: 10px;
    margin: 1.5rem;
    justify-content: center;
    align-items: center;
    display: flex;
    border: 2px solid rgb(6, 17, 17);
    background-color: rgb(6, 17, 17, .6);
}
.prop-link:hover{
    background-color: rgb(6, 17, 17);
    transition: .5;
}
.prop-link h1{
    font-size: 1rem;
    color: white;
    font-weight: bold;
    justify-content: center;
    align-items: center;
    display: flex;
}
.prop-price{
    position: absolute;
    z-index: 1;
    margin-top: 6rem;
    margin-left: 2rem;
    color: white;
}
/*---------------------------------------------------------*/
.prop-image{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: teal;
}
.image-box{
    width: 100%;
    height: 100%;
   
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
}
/*-------------------------------------------------------*/
.propert h1{
    font-size: 1rem;
}
.price h1{
    font-size: 2rem;
}
.bath, .bed, .sqf{
    justify-content: center;
    align-items: center;
    display: flex;
    
}
/*-----------------------------------------------------------*/
  .appear-bed{
    transform: translateY(0px);
    transition: 1s .3s;
   }
   .hide-bed{
    transform: translateY(140px);
    transition: 1s .3s;
   }

   .appear-bath{
    transform: translateY(0px);
    transition: 1s .3s;
  }
   .hide-bath{
    transform: translateY(140px);
    transition: 1s .3s;
  }

  .appear-sqf{
    transform: translateY(0px);
    transition: 1s .3s;
 }
  .hide-sqf{
    transform: translateY(140px);
    transition: 1s .3s;
} 

/*-----------------------------------------------------------*/
.bed, .sqf{
    margin-left: 1.4rem;
}
.bath h1, .bed h1, .sqf h1{
    font-size: 1rem;
    
}
.bath-title, .bed-title, .sqf-title{
    margin-left: .4rem;
}

@media screen and (min-width: 0px) and (max-width: 600px) {
    
   
    .loc h1{
    
        margin: .3rem;
        font-size: .3rem;
    }
}
@media screen and (min-width: 0px) and (max-width: 1300px) {
    
    .new-list{
        width: 100vw;
      
        
        justify-content: center;
        align-items: center;
        display: flex;
        flex-direction: column;
    }
    .new-div{
        width: 100%;
        height: 60vh;
        justify-content: center;
        align-items: center;
        display: flex;
        padding: 0;
        overflow: hidden;
        position: relative;
    }
    .listing-box{
        width: 100vw;
        height: 60vh;
        background-color: transparent;
        overflow: hidden;
        color: black;
        text-decoration: none;
        position: relative;
    }
}